In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df_features = pd.DataFrame()

In [3]:
df_DK2 = pd.read_csv('./data/ENTSOE_Generation Forecasts for Wind and Solar_DK2_201901010000-202001010000.csv')
print(df_DK2.columns)
df_DK1 = pd.read_csv('./data/ENTSOE_Generation Forecasts for Wind and Solar_DK1_201901010000-202001010000.csv')
df_DK1.columns

Index(['MTU (CET/CEST)', 'Generation - Solar  [MW] Day Ahead/ BZN|DK2',
       'Generation - Solar  [MW] Intraday / BZN|DK2',
       'Generation - Solar  [MW] Current / BZN|DK2',
       'Generation - Wind Offshore  [MW] Day Ahead/ BZN|DK2',
       'Generation - Wind Offshore  [MW] Intraday / BZN|DK2',
       'Generation - Wind Offshore  [MW] Current / BZN|DK2',
       'Generation - Wind Onshore  [MW] Day Ahead/ BZN|DK2',
       'Generation - Wind Onshore  [MW] Intraday / BZN|DK2',
       'Generation - Wind Onshore  [MW] Current / BZN|DK2'],
      dtype='object')

Index(['MTU (CET/CEST)', 'Generation - Solar  [MW] Day Ahead/ BZN|DK1',
       'Generation - Solar  [MW] Intraday / BZN|DK1',
       'Generation - Solar  [MW] Current / BZN|DK1',
       'Generation - Wind Offshore  [MW] Day Ahead/ BZN|DK1',
       'Generation - Wind Offshore  [MW] Intraday / BZN|DK1',
       'Generation - Wind Offshore  [MW] Current / BZN|DK1',
       'Generation - Wind Onshore  [MW] Day Ahead/ BZN|DK1',
       'Generation - Wind Onshore  [MW] Intraday / BZN|DK1',
       'Generation - Wind Onshore  [MW] Current / BZN|DK1'],
      dtype='object')

In [48]:
df_features['offshore_DK2'] = df_DK2['Generation - Wind Offshore  [MW] Day Ahead/ BZN|DK2']
df_features['offshore_DK1'] = df_DK1['Generation - Wind Offshore  [MW] Day Ahead/ BZN|DK1']
df_features['onshore_DK2'] = df_DK2['Generation - Wind Onshore  [MW] Day Ahead/ BZN|DK2']
df_features['onshore_DK1'] = df_DK1['Generation - Wind Onshore  [MW] Day Ahead/ BZN|DK1']
df_features['solar_DK2'] = df_DK2['Generation - Solar  [MW] Day Ahead/ BZN|DK2']

In [49]:
df_features.head()

   offshore_DK2  offshore_DK1  onshore_DK2  onshore_DK1  solar_DK2
0         253.0         586.0        551.0       2302.0        0.0
1         328.0         627.0        645.0       2342.0        0.0
2         257.0         254.0        590.0       2227.0        0.0
3         210.0         233.0        566.0       2163.0        0.0
4         204.0         233.0        559.0       2108.0        0.0

In [50]:
for i in range(df_features.shape[1]-1):
    df_features.iloc[:, i] = df_features.iloc[:, i] / df_features.iloc[:, i].max()

In [51]:
df_features.corr()

              offshore_DK2  offshore_DK1  onshore_DK2  onshore_DK1  solar_DK2
offshore_DK2      1.000000      0.584081     0.874525     0.696080  -0.122784
offshore_DK1      0.584081      1.000000     0.646649     0.722248  -0.122990
onshore_DK2       0.874525      0.646649     1.000000     0.844469  -0.089066
onshore_DK1       0.696080      0.722248     0.844469     1.000000  -0.005245
solar_DK2        -0.122784     -0.122990    -0.089066    -0.005245   1.000000

In [68]:
SAVE_AS_CSV = False
if (SAVE_AS_CSV):
    df_features.to_csv('./data/features.csv')

In [66]:
df_features.head()

   offshore_DK2  offshore_DK1  onshore_DK2  onshore_DK1  solar_DK2
0      0.683784      0.506045     0.730769     0.691291        0.0
1      0.886486      0.541451     0.855438     0.703303        0.0
2      0.694595      0.219344     0.782493     0.668769        0.0
3      0.567568      0.201209     0.750663     0.649550        0.0
4      0.551351      0.201209     0.741379     0.633033        0.0

In [75]:
df_features.loc[pd.isna(df_features).any(1), :].index

Int64Index([8760], dtype='int64')

In [72]:
print(df_features.iloc[2138, :])
df_features.fillna(method='backfill', inplace=True)
print(df_features.iloc[2138, :])

offshore_DK2    0.497297
offshore_DK1    0.711572
onshore_DK2     0.336870
onshore_DK1     0.625225
solar_DK2       0.000000
realized        0.405405
Name: 2138, dtype: float64
offshore_DK2    0.497297
offshore_DK1    0.711572
onshore_DK2     0.336870
onshore_DK1     0.625225
solar_DK2       0.000000
realized        0.405405
Name: 2138, dtype: float64

In [15]:
df_features = pd.read_csv('./data/features.csv')
df_features.columns

Index(['Unnamed: 0', 'offshore_DK2', 'offshore_DK1', 'onshore_DK2',
       'onshore_DK1', 'solar_DK2'],
      dtype='object')

In [28]:
df_price = pd.read_csv('./data/forward.csv')
df_price.mean()

Unnamed: 0                                   4379.500000
Price for consumption [EUR/MWh] - MBA|DK2      40.563091
dtype: float64

In [27]:
df_test = pd.read_csv('./data/2020/prices_formatted.csv')
df_test.mean()

C:\Users\emilh\AppData\Local\Temp\ipykernel_20800\3638858104.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_test.mean()

Unnamed: 0      4379.000000
SpotPriceDKK     211.425834
SpotPriceEUR      28.370525
dtype: float64

In [19]:

df_price = df_price['Price for consumption [EUR/MWh] - MBA|DK2']
df_price.to_csv('./data/forward.csv')

In [70]:
df_features['realized'] = df_real['Wind Offshore  - Actual Aggregated [MW]'] / 370
df_features.head()

   offshore_DK2  offshore_DK1  onshore_DK2  onshore_DK1  solar_DK2  realized
0      0.683784      0.506045     0.730769     0.691291        0.0  0.716216
1      0.886486      0.541451     0.855438     0.703303        0.0  0.918919
2      0.694595      0.219344     0.782493     0.668769        0.0  0.735135
3      0.567568      0.201209     0.750663     0.649550        0.0  0.578378
4      0.551351      0.201209     0.741379     0.633033        0.0  0.562162

In [64]:
df_features.corr()

              offshore_DK2  offshore_DK1  onshore_DK2  onshore_DK1  solar_DK2
offshore_DK2      1.000000      0.584079     0.874526     0.696031  -0.122802
offshore_DK1      0.584079      1.000000     0.646636     0.722281  -0.123050
onshore_DK2       0.874526      0.646636     1.000000     0.844386  -0.089079
onshore_DK1       0.696031      0.722281     0.844386     1.000000  -0.005356
solar_DK2        -0.122802     -0.123050    -0.089079    -0.005356   1.000000

In [78]:
df_features.iloc[8760,-1] = 0.216216

In [14]:
df_price = pd.read_csv('./data/balance_dw.csv')
# df_price.fillna(method='backfill', inplace=True)
df_price.isna().any()

Unnamed: 0.1                                          False
Unnamed: 0                                            False
Generation / - Imbalance price [EUR/MWh] - MBA|DK2    False
dtype: bool

In [11]:
df_price.to_csv('./data/forward.csv')